<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- css引入-->
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
<!--<div>-->
<!--  <p class="d1">ideapad 14s 英特尔酷...</p>-->
<!--    <p class="d2"> 第十代英特尔酷睿i5-<br>-->
<!--      10210U/Windows 10 家庭...</p>-->
<!--  <p class="d3">-->
<!--      ￥-->
<!--      <span>4199</span>-->
<!--  </p>-->
<!--</div>-->
<!--div标签会换行
    span标签不换行-->
<!--<div class="d4">门店-->
<!--    <span class="d5">下载app</span>-->
<!--</div>-->
<div class="d60">
    <div class="'d6">
    <span class="d6_1">新品发布</span>
    <span class="d6_2">私人定制</span>
    <span class="d6_3">
        <span class="d6_3_1">商品详情</span>
        <span class="d6_3_2">配置信息</span>
    </span>
    </div>
</div>
<div class="d7">
    <span class="d7_1">商城价</span>
    <span class="d7_2">¥</span>
    <span class="d7_3">1699</span>
</div>
<span class="s4">立即购买</span>
</body>
</html>