<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/style_page1.css" rel="stylesheet">
</head>
<body>
<!--&lt;!&ndash;引入图片&ndash;&gt;-->
<!--<img class="img01" src="/static/images/img1.jpg">-->
<!--&lt;!&ndash;背景图片&ndash;&gt;-->
<!--<div class="d1"></div>-->
<!--<div class="d2">-->
<!--    <img class="img01" src="/static/images/img4.jpg">-->
<!--    <div class="d3">-->
<!--        <div class="d3_1">智能制造</div>-->
<!--        <div class="d3_2">智能化工厂助力武汉高效复工</div>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="d1"></div>-->
<!--<div class="d2"></div>-->
<!--<div class="d3"></div>-->
<!--<div class="d4"></div>-->

<div class="d5">
    <div class="d5_1">新闻中心</div>
    <span class="d5_2">”</span>
    <div class="d5_3">更多<<</div>
</div>
<div class="d6">
    <img class="d6_1" src="/static/images/img4.jpg">
    <div class="d6_2">
        <div class="d6_2_1">
            <div class="d6_2_1_1">
                <div class="d6_2_1_1_1">01</div>
                <div class="d6_2_1_1_2">2020年06月02日</div>
            </div>
            <div class="d6_2_1_2">
                <div class="d6_2_1_2_1">联想×京东总裁直播带货破亿
                </div>
                <div class="d6_2_1_2_2">6月1日傍晚，联想集团执行副总裁兼中国区总裁刘军空降京东直播间，联合京东集团高级副总裁
                </div>
            </div>
        </div>
        <div class="d6_2_1">
            <div class="d6_2_1_1">
                <div class="d6_2_1_1_1">02</div>
                <div class="d6_2_1_1_2">2020年05月13日</div>
            </div>
            <div class="d6_2_1_2">
                <div class="d6_2_1_2_1">联想将成为中国智造的新民族品牌代表
                </div>
                <div class="d6_2_1_2_2">5月10日，联想受邀出席了以“信心：品牌强国工程推动中国经济内循环加速”
                </div>
            </div>
        </div>
        <div class="d6_2_1">
            <div class="d6_2_1_1">
                <div class="d6_2_1_1_1">03</div>
                <div class="d6_2_1_1_2">2020年05月07日</div>
            </div>
            <div class="d6_2_1_2">
                <div class="d6_2_1_2_1">联想启动智慧中国行活动，首站大咖尖峰对话
                </div>
                <div class="d6_2_1_2_2">联想携手行业生态合作伙伴，共同发起“智慧中国行”系列活动
                </div>
                </div>
        </div>
    </div>
</div>
</body>
</html>