<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注销公司时长分析</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
<div class="header">
    注销公司数据分析平台
</div>
<div class="nav">
    <div class="tab1">
        <a href="/datashow" target="_blank">爬虫数据展示</a>
    </div>
    <div class="tab2">
        <a href="/time_ana" target="_blank">注销公司时长分析</a>
    </div>
    <div class="tab3">
        <a href="/com_found" target="_blank">注销公司融资分布情况</a>
    </div>
    <div class="tab4">
        <a href="/death_reason" target="_blank">公司注销原因分布情况</a>
    </div>
</div>
<div class="time_img">
    <img src="/static/images/zx_company_live.png">
</div>

</body>
</html>